*.dcu
__history
*.local
*.identcache
*.~*
*.skincfg
*_Icon
*.ico
*.csv
/CSV/

*.dproj.local
*.res
*.stat
/Projeto/Prj/Debug
/Projeto/Prj/orcTesseract


*.stat
*.res
/Projeto/Prj/GeradorPeriodoAquisitivo
Projeto/Prj/ConversaoFolha.exe
Projeto/Prj/Config.INI
*.rar
*.xml
*.exe